<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h1>{{ title }}</h1>
  <div class="slideshow-container">
        <div class="mySlides" id="{{ prefix }}_{{ i }}">
          <img src="{{ image }}" style="width:100%">
          <div class="text">text</div>
        </div>
    <a class="prev" href="{{ prev }}">◀️</a>
    <a class="next" href="{{ next }}">▶️</a>
  </div>
  <br>
  <script src="script.js"></script>
</body>
</html>
